.movie-details {
  margin: 0 auto !important;
}
.movie-details_header {
    width: 100%;
    height: 300px;
   
}
.movie-details_header img {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
    background-position: center;
}

.movie-details_header--fade{
background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  filter: brightness(0.98);
  margin-top: -250px;
  height: 300px;
}

.movie-details__navlogo{
    position: absolute;
    top: 0;
    left: 20px;
    width:100px;
}

.movie-details__navlogoImg{
    width: 100px;
    cursor: pointer !important;
}

